@font-face {
  font-family: "Lato-bold";
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf) format("ttf"); }

@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(../fonts/Lato-Regular.ttf) format("ttf"); }

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  background-color: #ffffff; }

.main-header {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 1000; }

.header__logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #3f5847;
  text-decoration: none; }

.logo__caption {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  font-size: 29px;
  letter-spacing: 0.08em;
  font-weight: 400;
  line-height: 30px; }

.logo__disc {
  color: #3f5847;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.08em; }

.main__preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 140px);
  margin-top: 140px; }
  @media screen and (max-width: 767px) {
    .main__preview {
      height: auto;
      padding-top: 58.6667vw; } }

.preview__picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/vybory-6.jpg") no-repeat 50% 50%;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .preview__picture {
      bottom: auto;
      height: 58.6667vw; } }

.preview__picture > img {
  display: none; }

.preview__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  color: white;
  font-size: 22px;
  flex-grow: 1;
  padding: 50px 0; }
  @media screen and (max-width: 767px) {
    .preview__description {
      display: none; } }
  @media screen and (min-width: 768px) and (max-width: 998px) {
    .preview__description {
      padding: 10px 0;
      font-size: 20px; } }

.main__info {
  margin: 30px auto;
  max-width: 670px;
  font-weight: bold; }

.info__content {
  z-index: 100; }
  @media screen and (max-width: 767px) {
    .info__content {
      font-size: 14px; } }

.main__vote {
  width: 100%;
  display: flex;
  padding: 0 50px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0; }
  @media (max-width: 1200px) {
    .main__vote {
      padding: 0; } }

.card__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .card__group {
      flex-direction: row; } }
  @media screen and (max-width: 767px) {
    .card__group:nth-child(odd) {
      margin-right: 10px; } }

.vote__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 2; }

.card__heading {
  margin: 15px 0;
  padding: 0;
  text-align: left; }
  @media screen and (max-width: 500px) {
    .card__heading {
      font-size: 12px; } }

.card__discription {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  max-width: 230px; }
  @media screen and (max-width: 500px) {
    .card__discription {
      display: none; } }
  @media screen and (max-width: 500px) {
    .card__discription--mobile {
      display: none; } }

@keyframes out {
  0% {
    background-position: 50% 50%; }
  100% {
    background-position: 50% 800px; } }

@keyframes out-btn {
  0% {
    transform: translateY(-140px); }
  100% {
    transform: translateY(0%); } }

.card__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 345px;
  width: 220px;
  background-image: url("../img/cand1.png");
  background-color: #2a3138;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: all 0.33s ease; }
  .card__image--2 {
    background-image: url("../img/cand2.png"); }
  .card__image--3 {
    background-image: url("../img/cand3.png"); }
  .card__image--4 {
    background-image: url("../img/cand4.png"); }
  @media screen and (max-width: 1023px) {
    .card__image {
      height: 250px;
      width: 160px; } }
  @media screen and (max-width: 500px) {
    .card__image {
      height: 37vh;
      width: 45vw; } }

.card__image:hover {
  animation: out 1.5s 1;
  animation-fill-mode: forwards; }

.checked {
  box-shadow: 0 0 0 6px green inset; }

.card__image > input {
  display: none; }

.vote__button {
  display: none;
  width: 85%;
  padding: 8px 15px;
  background: transparent;
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box; }
  .vote__button:last-of-type {
    margin-top: 20px; }

.card__image:hover .vote__button {
  display: block;
  animation: out-btn 1s 1;
  animation-fill-mode: forwards; }

.vote__button:hover {
  background: white;
  color: black; }

.main__button {
  width: 280px;
  padding: 10px 30px;
  box-sizing: border-box;
  background: #3f5847;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.08em;
  margin: 35px auto; }

.footer {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #bbbfc3;
  text-decoration: none;
  letter-spacing: 0.03em;
  background: #1a2020; }
  @media screen and (max-width: 550px) {
    .footer {
      font-size: 8px; } }
  @media screen and (min-width: 551px) and (max-width: 900px) {
    .footer {
      font-size: 14px; } }

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 50px; }
  @media screen and (max-width: 620px) {
    .footer__contacts {
      margin: 0; } }

.hidden {
  display: none !important; }

.modal__vote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 1003;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: white; }

.modal__vote > svg {
  position: fixed;
  top: 10px; }

.vote__heading {
  color: #3f5847;
  margin: 0;
  margin-top: 0px;
  font-size: 26px;
  padding: 0; }

.vote__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%; }

.vote__form > input:not([type='submit']) {
  width: 100%;
  padding: 10px 10px;
  background: #e8e8e9;
  border: 0;
  border-radius: 5px;
  margin-top: 20px; }
  .vote__form > input:not([type='submit'])::placeholder {
    color: #babbbe; }

.vote__form > input[type='submit'] {
  width: 280px;
  padding: 10px 30px;
  box-sizing: border-box;
  background: #3f5847;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.08em;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 10px; }
  .vote__form > input[type='submit']:last-of-type {
    margin-top: 35px; }

.modal__trainer {
  width: 500px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 1003;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px; }

.modal__trainer > svg {
  margin-top: 10px; }

.trainer__content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-top: 40px;
  margin-right: 5px; }

.trainer__image {
  width: 150px;
  height: 200px;
  margin: 10px;
  border-radius: 5px; }

.trainer__discription {
  height: 250px;
  overflow: auto;
  margin-top: 20px;
  padding: 0 2px;
  border: 1px solid lightgray;
  border-radius: 10px; }

.modals__layer-around {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 1002;
  overflow: auto; }
