$body-width: 100%;
$bg-color: #ffffff;
$header-font-color: #3f5847;

$basic-font-family: 'Lato', sans-serif;
$second-font-family: 'Times New Roman', sans-serif;

$tablet-widths: "(max-width: 767px)";
$desktop-widths: "(max-width: 1200px)";

$header-height: 140px;
