.footer {
  width: 100%;

  padding: 20px 0;
  font-size: 20px;
  color: #bbbfc3;
  text-decoration: none;
  letter-spacing: 0.03em;

  background: #1a2020;

  font: 14px/1.2 'ProximaNova', "TimesNewRoman", Verdana, sans-serif;
  @media screen and (max-width: 550px) {
    font-size: 8px;
  }
  @media screen and (min-width: 551px) and (max-width: 900px) {
    font-size: 14px;
  }
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 100px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  @media screen and (max-width: 1024px) {
    margin: 0;
  }
}
.contacts__number {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #bbbfc3;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 30px;
  @media screen and (min-width: 767px) {
    margin: 0;
    padding: 0;
  }
}
.contacts__email {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #bbbfc3;
  letter-spacing: 0.03em;
  margin-top: 0;
  @media screen and (min-width: 767px) {
    margin: 0;
  }
}
.contracts__copyright {
  width: 90%;
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 17px;
  font-size: 12px;
  line-height: 20px;
  color: #7b8081;
  & br {
    display: none;
  }
  & span {
    color: #bbbfc3;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
  }
  @media screen and (min-width: 767px) {
    width: auto;
    margin: 0;
    padding: 0;

    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    color: #bbbfc3;

    border: 0;

    & br {
      display: block;
    }
  }
}
