.hidden {
  display: none !important;
}
.modal__vote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include modal-container;
  height: 400px;
}
.modal__vote > svg {
  position: fixed;
  top: 10px
}
.vote__heading {
  color: $header-font-color;
  margin: 0;
  margin-top: 40px;
  font-size: 26px;
  padding: 0;
}
.vote__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.vote__form > input:not([type='submit']) {
  width: 100%;
  padding: 10px 10px;
  background: #e8e8e9;
  &::placeholder {
    color: #babbbe;
  }
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
}
.vote__form > input[type='submit'] {
  @include button;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 10px ;
  &:last-of-type {
    margin-top: 35px;
  }
}
//==================Trainer Modals===============
.modal__trainer {
  @include modal-container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  @media screen and (max-width: 500px) {
    height: 80vh;
  }
}
.modal__trainer > svg {
margin-top: 10px;
}
.trainer__content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;


  margin-top: 10px;
  margin-right: 5px;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}
.trainer__image {
  width: 150px;
  height: 200px;

  margin: 10px;


  border-radius: 5px;
  @media screen and (max-width: 500px) {
    margin: 5px;
    height: 33vh;
    width: 25vh;
  }
}
.trainer__discription {
  height: 250px;

  overflow: auto;
  margin: 20px 2px 0 6px;
  padding: 0 2px;

  border: 1px solid lightgray;
  border-radius: 10px;
  @media screen and (max-width: 500px) {
    margin-top: 5px;
    height: auto;
  }
}
.vote__button--trainer {
  @include button;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

