.main__vote {
  display: flex;
  flex-wrap: wrap;
  @include container;
  justify-content: space-between;
  list-style: none;
  @media screen and (max-width: 998px) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 970px;
  }
}

