.vote__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__heading {
  margin: 15px 0;
  padding: 0;
}
.card__discription {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  max-width: 260px;
}
