.vote__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;

}

.card__heading {
  margin: 2px 0;
  padding: 0;
  text-align: left;
  font-size: 19px;
  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}
.card__discription {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  max-width: 230px;
  @media screen and (max-width: 500px) {
    display: none;
  }
  &--mobile {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}


